// Eric meyer reset.css file
// @import 'reset';
@import 'bootstrap';

// ---------------FONTS-----------------

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway.ttf');
	src: local('Raleway'), local('Raleway'), url('../fonts/Raleway.ttf') format('truetype');
}
// -----------------------------------------

// ------------------VARIABLES ----------------------
$darkblue: #141d26;
$orange: #F4B350;




$phone: "(min-width: 481px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px) and (max-width: 1199px)";
$largedesktop: "(min-width: 1200px)";

@mixin phone {
	@media #{$phone} {
		@content;
	}
}

@mixin tablet {
	@media #{$tablet} {
		@content;
	}
}

@mixin desktop {
	@media #{$desktop} {
		@content;
	}
}

@mixin largedesktop {
	@media #{$largedesktop} {
		@content; 
	}
}


// ---------------------

html{
	height: 100%;
	width: 100%;
}
nav.navbar{
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	background: $darkblue;
	div.navbar-header{
		a.navbar-brand{
			padding-top: 18px;
			font-size: 20px;
			color: $orange;
			transition: 1s ease;
			&:hover{
				opacity: .2;
			}
		}
	}

	div#navbar{
		float: right;
		ul.nav{
			li{
				// margin-right: 20px;
				@media (max-width: 992px){
					margin-right: 5px;
				}
				a{
					color: white;
					font-size: 20px;
					transition: .4s ease;
					&:hover{
						color: $orange;
					}
				}
			}
		}
	}
}

div.homePageContainer{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	background: url(../img/homepic3.jpg) no-repeat center center; 
	@media (min-width: 768px){
		background: url(../img/homepicsmaller2.jpg) no-repeat center center; 
		background-size: cover;
	}
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-image: cover;
	background-size: cover;
	div.row{
		div.homepage{
			height: 600px;
			@media (min-width: 768px){
				height: 800px;
			}
			h2, h3{
				font-weight: 200;
				width: 100%;
				color: white;
				font-size: 25px;
				@media (min-width: 768px){
					font-size: 50px;
				}
			}
			h3{
				font-size: 20px;
				@media (min-width: 768px){
					font-size: 35px;
				}
			}
			button.btn-lg{
				margin-top: 250px;
				@media (min-width: 768px){
					margin-top: 400px;
				}
				border: none;
				background: $darkblue;
				a{
					color: white;
					&:hover{
						color: $orange;
						text-decoration: none;
						&{
							background: red;
						}
					}
				}
			}
		}
	}
}












































