// Eric meyer reset.css file
// @import 'reset';
@import 'bootstrap';

// ---------------FONTS-----------------
@font-face {
font-family: 'Infinity';
src: url('../fonts/Infinity.ttf');
src: local('Infinity'), local('Infinity'), url('../fonts/Infinity.ttf') format('truetype');
}
@font-face {
font-family: 'Raleway';
src: url('../fonts/Raleway.ttf');
src: local('Raleway'), local('Raleway'), url('../fonts/Raleway.ttf') format('truetype');
}
// -----------------------------------------

// ------------------VARIABLES ----------------------
$darkblue: #141d26;
$orange: #F4B350;

html.index1{

$phone: "(min-width: 481px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px) and (max-width: 1199px)";
$largedesktop: "(min-width: 1200px)";

@mixin phone {
	@media #{$phone} {
		@content;
	}
}

@mixin tablet {
	@media #{$tablet} {
		@content;
	}
}

@mixin desktop {
	@media #{$desktop} {
		@content;
	}
}

@mixin largedesktop {
	@media #{$largedesktop} {
		@content;
	}
}


// -------------------------------------------------

html{
	height: 100%;
}

a{
	text-decoration: none;
	color: inherit;
}
body{
	font-family: Gerogia, sans;
}

ul{
	margin: auto;
	max-width: 1500px;
}



nav{
	background: $darkblue;
	height: 40px;
	position: fixed;
	width: 100%;
	border-bottom: 1px solid black;
	.navbar{
		font-size: 0;
		width: 100%;
		li{
			display: inline-block;
			font-size: 20px;
			width: 15%;
			text-align: center;
			color: white;
			padding-top: 0px;
			a{
				text-transform: uppercase;
				font-family: Raleway;
				transition: .4s ease;
				&:hover{
					color: $orange;
				}
			}
			&.logo{
				width: 40%;
				font-size: 30px;
				padding-top: 8px;
				color: $orange;
				transition: 1s ease;
				&:hover{
					opacity: .2;
				}
			}

		}
	}
}

p#info{
	padding-top: 50px;
	font-family: 'Georgia';
	font-size: 50px;
	width: 50%;
	margin: auto;
}

img.homepagepic{
	width: 100%;
	height: auto;
}


div.homescreen{
	width: 100%;
	height: 800px;
  background: url(../img/homepicsmaller2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1, h2{
  	font-family: Raleway;
  	color: white;
  	position: absolute;
  	font-weight: bold;
  }
  h1{
  	font-size: 50px;
  	left: 60%;
  	top: 10%;
  }
  h2{
  	font-size: 40px;
  	left: 65%;
  	top: 20%;
  }
  button.learnmore{
  	position: absolute;
  	left: 30%;
  	top: 80%;
  	width: 150px;
  	height: 50px;
  	border-radius: 5px;
  	background: #ddd;
  	// opacity: .4;
  	border: none;
  	color: white;
  	a{
  		font-size: 20px;
  		font-family: Georgia, sans;
  		opacity: 1;
  		color: black;
  		&:hover{
  			color: $orange;
  		}
  	}
  }
}

footer{
	width: 100%;
	background: $darkblue;
	height: 50px;
	margin-top: 30px;
	p{
		text-align: center;
		padding-top: 10px;
	}
	span{
		font-size: 20px;
		color: $orange;
	}
}





section#dl{
	height: 100px;
	padding: 50px 0;
	div.container{
		text-align: center;
	}
	img.appstore{
		width: 350px;
		height: auto;
		margin: auto;

	}
}

}




html.index2{
	body {
	  padding-top: 50px;
	}
	.starter-template {
	  padding: 40px 15px;
	  text-align: center;
	}
}





// nav.navbar{
// 	background: $darkblue;
// 	height: 60px;
// 	ul.navbar-nav{
// 		li a{
// 			color: $orange;
// 		}
// 		li.active a{
// 			color: red;
// 		}
// 	}
// 	a.navbar-brand{
// 		color: red;
// 		font-size: 50px;
// 		&:hover{
// 			color: blue;
// 			transition: 2s ease;
// 		}
// 	}
// }


















