// Eric meyer reset.css file
// @import 'reset';
@import 'bootstrap';

// ---------------FONTS-----------------

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway.ttf');
	src: local('Raleway'), local('Raleway'), url('../fonts/Raleway.ttf') format('truetype');
}
// -----------------------------------------

// ------------------VARIABLES ----------------------
$darkblue: #141d26;
$orange: #F4B350;




$phone: "(min-width: 481px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px) and (max-width: 1199px)";
$largedesktop: "(min-width: 1200px)";

@mixin phone {
	@media #{$phone} {
		@content;
	}
}

@mixin tablet {
	@media #{$tablet} {
		@content;
	}
}

@mixin desktop {
	@media #{$desktop} {
		@content;
	}
}

@mixin largedesktop {
	@media #{$largedesktop} {
		@content; 
	}
}


// ---------------------

html{
	height: 100%;
	width: 100%;
}
body{
	position: relative
	// padding-top: 30px;
}

nav.navbar-fixed-top{
	opacity: 0;
	position: fixed;
	top: -50px;
	transition: .5s ease;
}

nav.top-nav-appear{
	opacity: .95;
	position: fixed;
	top: 0px;
	transition: 1s ease;
}



nav.navbar{
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	background: $darkblue;
	div.navbar-header{
		a.navbar-brand{
			padding-top: 18px;
			font-size: 20px;
			color: $orange;
			transition: 1s ease;
			&:hover{
				opacity: .2;
			}
		}
	}





	div#navbar{
		float: right;
		ul.nav{
			li{
				// margin-right: 20px;
				@media (max-width: 992px){
					margin-right: 5px;
				}
				a{
					color: white;
					font-size: 20px;
					transition: .4s ease;
					&:hover{
						color: $orange;
					}
				}
			}
		}
	}
}

div.homePageContainer{
	width: 100%;
	// background: gold;
	text-align: center;
	font-family: 'Raleway', sans-serif;

	background: url(../img/homepic3.jpg) no-repeat center center; 
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-image: cover;
	background-size: cover;
	@media (min-width: 768px){
		background: url(../img/homepicsmaller2.jpg) no-repeat center center; 
		-moz-background-size: cover;
		-o-background-size: cover;
		-webkit-background-image: cover;
		background-size: cover;
	}
	div.row{
		div.homepage{
			height: 600px;
			@media (min-width: 768px){
				height: 700px;
			}
			h2, h3{
				font-weight: 200;
				width: 100%;
				color: white;
				font-size: 25px;
				@media (min-width: 768px){
					font-size: 50px;
				}
			}
			h3{
				font-size: 20px;
				@media (min-width: 768px){
					font-size: 35px;
				}
			}
			button.btn-lg{
				margin-top: 250px;
				@media (min-width: 768px){
					margin-top: 400px;
				}
				border: none;
				background: $darkblue;
				transition: .5s ease;
				&:hover{
					transform: scale(1.1);
					transition: 1.5s ease;
					span{
						color: $orange;
					}
				}
				&:focus{
					outline: none;
				}
				span{
					color: white;
					transition: .5s ease;
				}
			}
		}
	}
}

div#about{
	padding-top: 100px;
	background: #ddd;
}




div#download{
	text-align: center;
	img.appstore{
		width: 60%;
		@media (min-width: 767px){
			width: 300px;
			height: auto;
		}
	}
}

div#faq{
	height: 800px;
	background: lightblue;
}







div.footer{
	width: 100%;
	background: $darkblue;
	color: $orange;
	text-align: center;
	p{
		padding: 10px 0;
		font-size: 15px;
	}
}


div.test{
	background: tomato;
	div.container{
		background: blue;
	}

}






































